<center>
<img src="/SOF.png"> <br>
We'll be back when our servers are not on fire
</center>
<style>
#sidebar { display: none; }
#main { width: 100% !important; }
#topbar a { display: none; }
#topbar { color:white; }
#userstuff { display: none; }
#hotnew { display: none; }

</style>

