<font face=arial><h1>SpawnServer</h1><br/>

<p>SpawnServer lets you make servers instantly that run in your browser</p><br/>
<script src="term.js"></script>
<script>
var theterm = new VT100(80,25,document.all('term'));
theterm.write("Welcome to the JS server platform. Your terminal is ready.");
function hkeypr(ttxt){
writeterm(">"+ttxt);
}
function writeterm(wtxt){
document.all('sterm').innerHTML = document.all('sterm').innerHTML + "\n" + wtxt;
}

</script>
<table style="width:640px;" border=1><tr><td></td></tr></table>
<style>
.term {
	background: black;
	color: white;
	font-family: terminal, consolas, courier new;
	font-size: 14px;
	width:640px;
}
#sterm { css-comment$height: 480px; overflow: scroll; }
</style>
<div class=term>
<pre class="term" rows=25 cols=80 id="sterm">
Allocating network devices...

[Interface]
 name = xmlhttp1
 type = javascript_xmlhttprequest
 ip   = 1:1
 ip   = 0.0.0.1
 dns  = 0-0-0-1.ipv4.interface

[Interface]
 name = websock1
 type = html5_websockets
 ip   = 1:2
 ip   = 0.0.0.2
 dns  = 0-0-0-2.websockets.ip.interface

To access the websocket interface: tcpdrv --client HOST PORT

Network config is in file config.net
Enter commands below or type help for help
</pre>
<script>
var theterm = new VT100(80,25,document.all('term'));
theterm.write("Welcome to the JS server platform. Your terminal is ready.");
function hkeypr(ttxt){
writeterm(">"+ttxt);
var tspl = ttxt.split(' ');
switch(tspl[0]){
case 'help':
writeterm("ls - List files; cat - read file; out - output to file;");
}
}
function writeterm(wtxt){
document.all('sterm').innerHTML = document.all('sterm').innerHTML + "\n" + wtxt;
}

</script>

<input class="term" id="tterm" style="border: none;" onkeydown="if (event.keyCode == 13) hkeypr(this.value)">
</div>
<script>
window.setInterval(function() {
  var elem = document.getElementById('sterm');
  elem.scrollTop = elem.scrollHeight;
}, 5000);
function writeterm(wtxt){
document.all('sterm').innerHTML = document.all('sterm').innerHTML + "\n" + wtxt;
}
function hkeypr(ttxt){
writeterm(">"+ttxt);
//var tspl = ttxt.split(' ');
//switch(tspl[0]){
//case "help":
writeterm("hi");
//break;
//default:
//writeterm("- Bad command -");
}
}
