* {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
html,
body {
  height:100%;
  min-height:100%;
}
body {
  background-color:white;
  //font:normal normal 11px/1.4 Arial;
  font-size: 14px;
  font-family: Arial;
  color:#222;
}
a {
  color:#666;
  text-decoration:none;
}
a:focus,
a:hover {text-decoration:underline}
input,
textarea,
.btn2 {
  display:inline-block;
  comment-display:inline;
  //width:100%;
  text-align:left;
  margin:0 0 2px;
  padding:4px;
  font:inherit;
  line-height:1;
  color:#666;
  #background-color:#eee;
  border:1px solid #ccc;
}
input { display: block; }
button { padding: 5px !important; }
button, .btn, input[type="submit"] {
  display: inline-block;
  padding: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  font: inherit;
  //background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Sa$
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
//background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Sa$
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
border: 1px solid #ccc;
border-radius: 3px;
border-bottom: 2px solid #bbb;
text-align: center;
}
.no-gradient {
background: #fefefe;
}
.blue-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2e1ff+0,66b6fc+100;Blue+3D+%236 */
background: #b2e1ff; /* Old browsers */
background: -moz-linear-gradient(top, #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(to bottom, #b2e1ff 0%,#66b6fc 100%); /* W3C */
border: 1px solid #a1d0ee;
border-bottom: 2px solid #60b0cc;
color: #6A7CB4 !important;
background: #eff7ff !important;
}
.blue-no-gradient {
background: #eff7ff;
}
textarea {
  display:block;
  resize:vertical;
  line-height:inherit;
  height:80px;
}
/*button::-moz-focus-inner,
input::-moz-focus-inner {
  margin:0;
  padding:0;
  border:none;
  outline:none;
}*/
/*button {
  width:auto;
  padding:5px 8px;
  //background-color:#ECDE8C;
  //border-color:#BCAF6F;
  color:#5D5A31;
  font-weight:bold;
  cursor:pointer;
  float:right;
}*/
input:focus,
textarea:focus {color:#333}
/*button:focus,
button:hover {
  background-color:#E0D183;
  border-color:#9D935D;
}*/
button[onClick^="makeSo"]{
width: 40px;
}
input[name="math"] {
  display:inline-block;
  display:*inline;
  width:30px;
}
.guestbook {
  width:auto;
  padding:10px;
}
.guestbook form label {
  display:block;
  float:left;
  width:50px;
  text-align:right;
  padding-top:3px;
}
.guestbook form div {margin-left:58px}
.guestbook hr {
  height:0;
  border:none;
  //border-top:1px solid #999;
  margin:10px 0 10px;
}
.guest-messages {
  //border:1px solid #aaa;
  /*
  height:300px;
  overflow:auto;
  */
}
.guest-item {
  //border-top:1px solid #aaa;
  padding:4px;
  position:relative;
}
.guest-item:first-child {border-top:none}
.guest-name {
  font-weight:bold;
  margin-left:2px;
}
.guest-timestamp {
  float:right;
  margin-right:2px;
}
.guest-message {
  display:block;
  clear:both;
  margin-top:4px;
  padding:4px 6px;
  //background-color:#eee;
}
.guestbook-nav {
  margin:5px 0;
  text-align:center;
}
.message-error,
.message-warning {
  padding:5px 10px;
  background-color:#FFDBD8;
  //border-top:1px solid #aaa;
}
.message-warning {background-color:#DBFFD8}
.message-error:first-child,
.message-warning:first-child {border-top:none}
.clear {
  display:block;
  clear:both;
}
